<ul class="nav nav-list">
<li class="nav-header"><%= view.options.meta.data.title %></li>

<% collection.each(function (m) { %>
    <% if (m.get('counter') > 0) { %>
        <li>
            <label>
                <input type="checkbox" value="<%= m.id %>" <% if (m.get('_selected')) { %>checked<% } %>>
                <span>
                    <%= m.escape('name') %>
                    (<%= m.escape('counter') %>)
                </span>
            </label>
        </li>
    <% } %>
<% }) %>
</ul>