<button class="btn <% if (view.actionsInProgress > 0) { %>processing<% } %>">
    Label actions
</button>
<button id="actions-dropdown" class="btn dropdown-toggle crud-dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
</button>
<ul class="dropdown-menu crud-dropdown">
    <li class="divider"></li>
    <li class="crud-action create-label"><a href="#">Create label</a></li>
    <li class="crud-action apply-changes"><a href="#">Apply changes</a></li>
</ul>
