<a class="crud-dropdown-toggle dense label button <% if (view.actionsInProgress > 0) { %>processing<% } %> " href="javascript://">
    Label actions
</a>
<ul style="display:none;" class="crud-dropdown dense-menu">
    <hr>
    <li class="action create-label">Create label</li>
    <li class="action apply-changes">Apply changes</li>
</ul>
